.wrapper__registration__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.registration__title {
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-top: 10px;
}

.registration {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  padding: 10px;
}

.registration__data {
  margin-bottom: 10px;
}

.error__internet {
  text-align: center;
  color: red;
}
