.wrapper__houme {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.title {
  margin: 0;
  font-size: 16px;
  width: 100%;
  text-align: center;
  background-color: #1890ff;
  color: #ffffff;
}

@media (max-width: 900px) {
  .btn__text {
    font-size: 12px;
  }
}

.houme__block__btn {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 5px;
}

@media (max-width: 700px) and (min-width: 450px) {
  .houme__block__btn {
    width: 30%;
  }
}

.houme__btn__articles {
  margin-top: 10px;
}

.houme__btn__exit {
  margin-left: 10px;
  border-radius: 5px;
  background-color: #1890ff;
  border-color: #1890ff;
  color: #ffffff;
  margin: 20px;
}

.houme__btn__exit:hover {
  background-color: #67a4dd;
  border-color: #67a4dd;
  color: #ffffff;
}
