.header {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  background-color: #20252a;
}

.header__btn {
  margin-left: 10px;
  border-radius: 5px;
  background-color: #1890ff;
  border-color: #1890ff;
  color: #ffffff;
}

.header__btn:hover {
  background-color: #67a4dd;
  border-color: #67a4dd;
  color: #ffffff;
}
